* {box-sizing: border-box}
html {
    background-color: #333;
    color: #333;
    height: 100%;
    margin: 0;
}
.tablink {
    background-color: #555;
    color: #ccc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
.tablink:hover {
    background-color: #777;
}
.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}
#Home {background-color: #ccc;color: #333;}
#New {background-color: #333;color: #ccc;}
#Pieces {background-color: #333;color: #ccc;}
#Contact {background-color: #ccc; color: #333;}
